@import "../../../themes/colors.scss";

.navbar{
  background-color: $azul;
  .flexTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p{
    font-size: 1rem;
    color: $blanco;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0em;
    display: inline;
    margin-left: 1em;
    text-align: center;
    font-family: $font;
  }
}