@import "../../../themes/colors.scss";

.d-flex{
margin: 6em auto 2em;
width: 30%;
}
.btn{
  background-color: $fucsia;
  color: $blanco;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  &:hover{
    background-color: $azul;
    color: $blanco;
    border: 1px solid $azul;
  }
  &:active{
    background-color: $azul;
    border: 1px solid $azul;
    color: $blanco;
  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
}

input[type=search] {
border: 1px solid $fucsia;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
font-family: $font;
}

input:focus, select:focus, select, input.form-control:focus {

  outline:none !important;

  outline-width: 0 !important;

  box-shadow: none;

  -moz-box-shadow: none;

  -webkit-box-shadow: none;

}