<div class="container">
  <!-- componente buscar -->
<app-search></app-search>
<!-- Tabla -->
 <table class="contentTable" mat-table multiTemplateDataRows class="mat-elevation-z8" [dataSource]="cobranzasRequest">
    <ng-container matColumnDef="account_id">
      <th  mat-header-cell *matHeaderCellDef
        style="border-top-left-radius: 15px;">Acccount ID</th>
      <td id="first" *matCellDef="let element" class="element-row" [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"> {{element.account_id}}</td>
    </ng-container>

    <ng-container matColumnDef="report_date">
      <th  mat-header-cell *matHeaderCellDef >Reporte Date</th>
      <td *matCellDef="let element" class="element-row" [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"> {{element.report_date}} </td>
    </ng-container>

    <ng-container matColumnDef="total_collected">
      <th  mat-header-cell *matHeaderCellDef >Total Collected</th>
      <td *matCellDef="let element" class="element-row" [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"> {{element.total_collected}}</td>
    </ng-container>

    <ng-container matColumnDef="total_gross_fee">
      <th  mat-header-cell *matHeaderCellDef >Total Gross Fee</th>
      <td id="pVerde" *matCellDef="let element" class="element-row" [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"> {{element.total_gross_fee}}</td>
    </ng-container>

    <ng-container matColumnDef="total_net_amount">
      <th  mat-header-cell *matHeaderCellDef >Total Net Amount</th>
      <td id="pVerde" *matCellDef="let element" class="element-row" [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"> {{element.total_net_amount}}</td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th  mat-header-cell *matHeaderCellDef style="border-top-right-radius: 15px;">Data</th>
      <td id="pVerde" *matCellDef="let element" class="element-row" [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"> {{element.data}}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let element">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsCobranzas"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsCobranzas;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</div>